.container_card_project {
    width: 100%;
    min-height: 400px;
    border-radius: 16px;
    background-color: white
}

.halfSize {
    grid-column: span 1;
}

.fullSize {
    grid-column: span 2;
}

.container_card_project:hover {
    padding: 4px;
}

.head_container_card_project {
    margin: 12px 0 0 12px;
    display: flex;
    align-items: center;
    position: relative;
}

.gr_btn_recents_card_project {
    display: flex;
    position: relative;
    align-items: center;
    margin-left: 12px;
    padding: 4px 8px;
    border-radius: 4px;
}

.gr_btn_recents_card_project:hover {
    background-color: aliceblue;
}

.gr_btn_recents_card_project img {
    margin-left: 8px;
}

.name_project {
    color: black;
    font-size: 20px;
    font-weight: 600;
}

.title_time {
    font-size: 12px;
    font-weight: 700;
    color: #b3afaf;
}

.head_container_card_project img {
    width: 10px;
}

.btn_option_menu_card_project {
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    right: 24px;
    border-radius: 20px;
    padding: 8px;
}

.btn_option_menu_card_project:hover {
    background-color: aliceblue;
}

.btn_option_menu_card_project img {
    height: 16px;
    width: 16px;
}

.main_list_container_card_project {
    width: 100%;
    gap: 12px;
    display: flex;
    align-items: start;
    justify-content: start;
    flex-wrap: wrap;
    padding: 20px;
}

.item_in_list_card_project{
    padding: 12px 24px;
}

.item_in_list_card_project button {
    display: flex;
    align-items: center;
    width: 100%;
    padding: 0 12px;
    flex-direction: row;
}

.item_in_list_card_project button img {
    height: 50px;
    margin-right: 8px;
}

@media (max-width: 1150px){
    .getting_started_container_right{
       flex-direction: column;
    }

    .content_in_getting_started_container_right{
        justify-content: center;
        align-items: center;
    }

    .content_in_getting_started_container_right p{
        text-align: center;
    }
}


@media (max-width: 870px){

    .container_card_project{
        margin: 0;
    
    }
}

@media (max-width: 668px){
    .getting_started_container_right{
       display: none;
    }

}
