.background_image_main{
    object-fit: fill;
}

.text_home{
    padding: 22px;
    font-size: 24px;
    font-weight: 500;
}

.container_header_home_page{
    width: 100%;
    padding: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.conatiner_achievement_widget{
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-direction: row;
    width: 454px;
    height: 48px;
    border-radius: 60px;
    margin: 16px 0;
    
}

.conatiner_achievement_widget img{
    padding: 8px;
}

.container_achivement_my_week{
    display: flex;
    justify-content: center;
    align-items: center;
}


.monday_september{
    color: #363639;
    font-size: 20px;
    font-weight: 600;
    opacity: 0.6;
}


.good_evening{
    font-size: 32px;
    color: black;
    opacity: 0.7;
    font-weight: 600;
}

.conatainer_button_achievement_widget{
    display: flex   ;

}
/* ========= CSS  container_card_project_and_people*/

.container_card_project_and_people{
    display: flex;
    margin-top: 16px;
    width: 100%;
    height: 400px;
}

