.home_page_context{
    height: calc(100vh - 48px);
    flex-grow: 1;
    /* width: calc(100vw - 240px); */
    overflow-y: scroll;
    background-image: url("https://d3ki9tyy5l5ruj.cloudfront.net/obj/a0b52f278bf39ad6bbee745b64865a8cfd5bf4bf/Aqua_background.png");
}

.background_image_main{
    object-fit: fill;
}

.text_home{
    padding: 22px;
    font-size: 24px;
    font-weight: 500;
}

.container_header_home_page{
    width: 100%;
    padding: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.conatiner_achievement_widget{
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-direction: row;
    width: 454px;
    height: 48px;
    border-radius: 60px;
    margin: 16px 0;   
}

.conatainer_button_achievement_widget:first-child:hover{
    background-color: aliceblue;
    border-radius: 4px;
}

.conatiner_achievement_widget img{
    padding: 8px;
}

.container_achivement_my_week{
    display: flex;
    justify-content: center;
    align-items: center;
}


.monday_september{
    color: #363639;
    font-size: 20px;
    font-weight: 600;
    opacity: 0.6;
}


.good_evening{
    font-size: 32px;
    color: black;
    opacity: 0.7;
    font-weight: 600;
}

.conatainer_button_achievement_widget{
    display: flex   ;

}
/* ========= CSS  container_card_project_and_people*/

.container_card_project_and_people{
    display: grid;
    gap: 20px;
    grid-template-columns: 1fr 1fr;
    margin-top: 16px;
    width: 100%;
}


@media (max-width: 1150px){
    .getting_started_container_right{
       flex-direction: column;
    }

    .content_in_getting_started_container_right{
        justify-content: center;
        align-items: center;
    }

    .content_in_getting_started_container_right p{
        text-align: center;
    }
}


@media (max-width: 870px){
    .container_card_project_and_people{
        flex-direction: column;
    }


    .container_card_project{
        margin: 0;
    
    }
}

@media (max-width: 668px){
    .getting_started_container_right{
       display: none;
    }
}

