.main_list_item_in_task{
    display: flex;
    position: relative;
    align-items: center;
    border-bottom: 1px solid rgb(214, 211, 211);
    width: 100%;
    height: 37px;
    flex-direction: row;
    padding: 10px 24px;
}


.main_list_item_in_task:hover{
    background-color: rgb(199, 199, 195);
    
}

.button_ic_remove{
     border-radius: 12px;
     padding: 4px;
     margin-right: 12px;
}

.button_ic_remove img{
    width: 16px;
     height: fit-content;
     
   
}

.button_ic_remove:hover{
    background-color: #d0d0d0;
}

.main_list_item_in_task_left{
    display: flex;
    border: 1px solid gray;
    padding: 6px 2px;
    margin-right: 8px;
    border-radius: 30px;
    align-items: center;
    position: relative;
}

.main_list_item_in_task_left:hover{
    background-color:rgb(193, 197, 193);
}

.main_list_item_in_task_left img{
   margin: 0 4px;
}

.main_list_item_in_task_right{
    position: absolute;
    background-color: transparent;
    display: grid;
    grid-template-columns: 300px 110px;
    align-items: center;
    right: 24px;
}
.main_list_item_in_task_right > :first-child {
    justify-self: end;
}

.container_list_project_button{
    display: flex;
}

.person_assigin_button{
    width: 45px; 
    display: flex;
    justify-content: center; 
    align-items: center; 
    background-color: #99DFDB; 
    border-radius: 12px; 
    margin-right: 4px; 
    font-size: 12px; 
    display: inline-block;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    padding: 0 4px;
}

.person_assigin_button_more{
    width: 25px; 
    display: flex;
    justify-content: center; 
    align-items: center; 
    background-color: #99DFDB; 
    border-radius: 12px; 
    margin-right: 4px; 
    font-size: 12px; 
    display: inline-block;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    padding: 0 4px;
}


.main_list_item_in_task_right p{
    color: #6D6E6F;
    font-size: 14px;
    margin-left: 4px;
    color: black;
    padding-left: 8px;
}



.text_title_project{
    display: inline-block;
    max-width: 40%; 
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
.container_create_task_input{
    border-bottom: 1px solid black;
    background-color: #6D6E6F;
}


.ant-picker-input input{
    display: none;
}
@media (max-width: 1150px){
    .getting_started_container_right{
       flex-direction: column;
    }

    .content_in_getting_started_container_right{
        justify-content: center;
        align-items: center;
    }

    .content_in_getting_started_container_right p{
        text-align: center;
    }

    .main_list_item_in_task_right{
        display: none;
    }
}


@media (max-width: 870px){

    .container_card_project{
        margin: 0;
    
    }
}

@media (max-width: 668px){
    .getting_started_container_right{
       display: none;
    }
    
    .main_list_item_in_task_right p{
        display: none;
    }
}
