.container_my_task_home{
    height: 400px;
    width: 100%;
    background-color: white;
    margin-top: 16px;
    border-radius: 16px;
}

.cotainer_header_my_task{
    height: 95px;
    display: flex;
    align-items: center;
    padding: 16px 16px 0 16px;
}

.cotainer_header_my_task img{
    height: 48px;
    margin-right: 8px;
}

.ic_avatar_main_1{
    margin-bottom: 10px;
    border: #363639 dashed 1px;  
    border-radius: 50px;
}

.component_text_my_task_icon{
    display: flex;
}

.component_text_my_task_icon img{
    height: 16px;
    width: 16px;
    margin-left: 8px;
}
.big_content_main_my_task{
    display: flex;
    height: 100%;
    flex-direction: column;
    align-items: start;
    justify-content: end;

}

.container_option_select_my_task button{
    margin-right: 12px;
}

.button_option_in_select{
    font-weight: 600;
    color: #363639;
    opacity: 0.7;
}

.button_option_in_select_active{
    font-weight: 600;
    padding-bottom: 12px;
    color: #363639;
    opacity: 0.7;
    border-bottom: 3px solid gray;
}

.container_create_task_in_my_task{
    height: 48px;
    width: 100%;
    display: flex;
    align-items: center;
    border-bottom: 1px solid rgb(192, 190, 190);
    
}

.container_create_task_in_my_task p{
    color: #505051;
}

.container_create_task_in_my_task img{
    margin: 0 12px 0 32px
}

.my_list_task_component{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-left: 12px;
    width: 95%;
}