.header_main{
    display: flex;
    flex-direction: row;
    justify-content: center ;
    align-items: center;
    background-color: #363639;
    height: 48px;
    width: 100vw;
    z-index: 1000;
    padding: 12px 0;
}

.header_left{
    display: flex;
    flex: 1;
    position: absolute;
    left: 0;
    justify-content: center;
    align-items: center;
}



.btn_create{
    margin-left: 12px;
    border-radius: 16px;
    padding: 4px;
    width: fit-content;
}

.btn_create:hover{
    background-color: #565557;
}

.btn_hamberger_menu{
    height: 24px;
}

.gr_button_create:hover{
    background-color: #565557;
}

.gr_button_create{
    height: 32px;
    display: flex;
    border: 1px solid #565557;
    padding: 4px;
    margin: 18px;
    border-radius: 20px;
}

.gr_button_create p{
    margin:0 4px;
    color: white;
}

.header_search{
    display: flex;
    height: 32px;
    width: 480px;
    display: flex;
    justify-content: left;
    align-items: center;
    border: 1px solid #565557;
    border-radius: 16px;
}
.header_search input {
    flex-grow: 1;
    height: 100%;
    border: none;
    outline: none;
    padding: 0 12px;
    border-radius: 16px;
    font-size: 14px;
    color: white;
    background-color: transparent;
}


.header_search img{
    margin-left: 16px;
}

.header_right{
    display: flex;
    flex: 1;
    position: absolute;
    right: 17px;
    flex-direction: row;
    align-items: center ;
    justify-content: center;
}

.header_right p{
    color: white;
    font-family: Inter;
    font-weight: 200;
}

.img_header_avatar{
    height: 32px;
}

.Add_billing_info{
    background-color: #F1BD6C;
    font-size: 12px;
    padding: 8px;
    margin: 0 12px;
    border-radius: 8px;
}

.Add_billing_info:hover{
    background-color: #eaca96;
}

.gr_button_account_header{
    display: flex;
    align-items: center;
}
 
@media (max-width: 1114px){
    .header_right p{
        display: none;
    }
}


@media (max-width: 904px){
    .Add_billing_info{
        display: none;
    }
}


@media (max-width: 794px){
    .header_search{
        display: none;
    }
}
