body, html {
    margin: 0;
    height: 100vh;
    width: 100%;
}

.wrap_drawer_main_content{
    display: flex;
    flex-grow: 1;
    flex-direction: row;
}

.wrap_drawer_main_content{
    min-width: 767px
}

.header_main{
    min-width: 460px;
}

